@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:active,
:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

aside,
footer,
header,
nav {
  display: block;
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  background: none;
}

button,
input,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  padding: 10px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu-position {
  position: relative;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu .menu__item {
  display: flex;
  gap: 50px;
}
.header__menu .menu__item a:hover {
  color: white;
}
.header__menu .menu__item a:hover {
  transition: all 0.3s ease;
}
.header__menu .menu__item li span {
  color: var(--gray);
  margin-left: 5px;
  font-size: 14px;
}
.header__menu .menu__item li span {
  transition: all 0.3s ease;
}
.header__menu .menu__item li:hover span {
  cursor: pointer;
  color: white;
}
.header__menu .menu__link {
  color: var(--gray);
}

.fa-chevron-right {
  margin-left: 5px;
  font-size: 12px !important;
}

.header__burger {
  display: none;
}

.btn-app {
  display: inline-flex;
  align-items: center;
  background: #2f8af5;
  font-size: 16px;
  border: none;
  color: white;
  width: fit-content;
  padding: 12px 16px;
  border-radius: 8px;
  line-height: 14px;
  transition: all 0.2s ease;
}

.btn-app:hover {
  background: #4399ff;
}

@media only screen and (min-width: 1000px) {
  .submenu-position:hover .submenu__wrapper {
    visibility: visible;
    opacity: 1;
  }
}
.submenu__wrapper {
  position: absolute;
  top: 0px;
  left: -180px;
  padding-top: 50px;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  overflow: scroll;
}

.submenu-navbar {
  box-sizing: border-box;
  width: 1136px;
  background: rgba(7, 7, 16, 0.7);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 24px;
  display: grid;
  grid-template-columns: 812px 240px;
  grid-column-gap: 32px;
  padding: 12px 24px 24px 12px;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
}

@media (max-width: 1400px) {
  .submenu-navbar {
    width: 900px;
    display: grid;
    grid-template-columns: 576px 240px;
    grid-column-gap: 32px;
    padding: 12px 24px 24px 12px;
  }
}
@media (max-width: 1400px) {
  .navbar-left {
    display: grid;
    grid-template-columns: 288px 288px !important;
  }
}
.navbar-left {
  display: grid;
  grid-template-columns: 390px 390px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.navbar-section:nth-child(2) {
  grid-row: 1/span 2;
  grid-column: 2/4;
  border: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .navbar-section:nth-child(2) {
    display: block;
  }
}
.navbar-title {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 12px 12px 20px 12px;
}

.navbar-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px;
  border-radius: 20px;
  text-decoration: none;
}

.navbar-item:hover {
  background: #000;
  transition: 0.2s;
}

.navbar-img-wrap {
  margin-right: 12px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.nav-item-title {
  display: block;
  margin-bottom: 4px;
  color: #fff;
  margin-left: 0px !important;
}

.nav-description {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.navbar-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 4px;
}

.nav-news-image {
  width: 100%;
  border-radius: 12px;
}

.nav-news-image img {
  max-width: 100%;
}

.nav-news-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 4px 0;
  display: block;
  margin-left: 0px !important;
}

.navbar-button {
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.more {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px 8px 20px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.mobile-submenu__wrapper {
  display: none;
}

@media (max-width: 1000px) {
  .header__action {
    display: none;
  }
  .submenu-position {
    flex-direction: column;
    justify-content: center;
  }
  .header__burger {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 20px;
    z-index: 150;
  }
  .mobile-submenu__wrapper.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mobile-submenu__wrapper a {
    border-bottom: none;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 90%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #a5046f;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 0;
    top: 9px;
    border-radius: 10px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    display: none;
  }
  .header__menu.active {
    bottom: 2px;
    left: 14px;
    background: rgba(7, 7, 16, 0.7);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
  }
  .header__menu {
    position: fixed;
    margin-left: -15px;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    transition: all 0.3s ease 0s;
    z-index: 100;
    padding: 80px 0px 20px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid rgba(128, 128, 128, 0.296);
    will-change: transition;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  body.active {
    overflow: hidden;
  }
}
.intro__wrapper {
  margin-top: 89px;
  padding-bottom: 140px;
  height: 488px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.main-start-screen {
  max-width: 700px;
}

.main-start-screen .main-title {
  font-weight: 900;
  font-size: clamp(2.125rem, 0.922rem + 4.94vw, 4.5rem);
  line-height: clamp(2.625rem, 1.295rem + 5.45vw, 5.25rem);
  margin-bottom: 16px;
}

.main-start-screen .main-text {
  font-size: clamp(1.688rem, 1.023rem + 2.73vw, 3rem);
  line-height: clamp(2rem, 1.24rem + 3.12vw, 3.5rem);
  letter-spacing: 0.05em;
  margin-bottom: 48px;
}

.buttons {
  display: flex;
}

.buttons .btn-app {
  border-radius: 16px;
  height: 56px;
  padding: 0 25px;
}

.appstore-btn {
  border-radius: 16px;
  border: 1px solid #fff;
  display: inline-flex;
  transition: 0.2s;
  color: #fff;
  margin-left: 32px;
  height: 56px;
}

@media (max-width: 567px) {
  .intro {
    position: relative;
    background-color: black;
  }
  .intro__wrapper {
    align-items: flex-start;
    height: 660px;
    box-sizing: border-box;
    margin-top: 180px;
    margin-bottom: -100px;
    padding: 0;
  }
  .intro::before {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(6, 7, 10, 0), #06070a);
  }
  .main-start-screen {
    padding-top: 20px;
  }
  .buttons {
    flex-direction: column;
    gap: 20px;
  }
  .buttons .btn-app {
    width: 100%;
    justify-content: center;
  }
  .appstore-btn {
    margin: 0px;
    justify-content: center;
  }
}
.appstore-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.presentation {
  display: block !important;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  max-height: 900px;
  overflow: hidden;
}

.main-top-bg-1 {
  max-width: 100%;
}

.main-top-bg-2 {
  will-change: transform;
  transform: translate3d(0px, 43px, 0px);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-top-bg-2-1 {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.main-top-bg-3 {
  position: absolute;
  height: 35%;
  right: 14%;
  bottom: 45%;
  transform: rotate(7deg);
}

.presentation-mobile {
  display: none;
}

@media (max-width: 850px) {
  .presentation {
    display: none !important;
  }
  .presentation-mobile {
    display: block;
  }
}
.presentation-mobile {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

.mains-top-bg-1 {
  opacity: 1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.mains-top-bg-2 {
  transform: translate3d(0px, 1px, 0px);
  will-change: transform;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mains-top-bg-2-1 {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.mains-top-bg-3 {
  position: absolute;
  height: 35%;
  right: 14%;
  bottom: 39%;
  transform: rotate(7deg);
}

.networks__wrapper h2 {
  font-size: clamp(1.688rem, 0.881rem + 3.44vw, 3.375rem);
  line-height: clamp(2rem, 1.074rem + 3.95vw, 3.938rem);
  text-align: center;
  width: 844px;
  margin: 0 auto 48px;
}
@media (max-width: 1000px) {
  .networks__wrapper h2 {
    width: 100%;
    text-align: left;
  }
}

.networks-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 32px;
  margin: 0 40px;
}
@media (max-width: 850px) {
  .networks-block {
    margin: 40px 0 0;
  }
}
@media (max-width: 650px) {
  .networks-block {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 480px) {
  .networks-block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }
}

.network {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network-image {
  max-width: 100%;
  width: 120px;
  height: 120px;
}
@media (max-width: 850px) {
  .network-image {
    height: 100%;
    width: 100%;
  }
}

.total-values {
  box-sizing: border-box;
  min-height: 178px;
  padding: 40px;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  border-radius: 40px;
  background: #06070a;
  position: relative;
  z-index: 20;
  border: 1px solid rgba(128, 128, 128, 0.4196078431);
}

.total-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.total-value .text {
  text-align: left;
}

.big-number {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .big-number {
    font-size: 27px;
    margin-bottom: 4px;
    line-height: 32px;
  }
}

@media (max-width: 650px) {
  .total-values {
    border: none;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .total-values {
    border: none;
    background-color: black;
    padding: 16px;
    min-height: 130px;
  }
}
@media (max-width: 900px) {
  .total-values {
    border: none;
    background-color: black;
    grid-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 1000px) {
  .total-value {
    text-align: center;
    align-items: center;
  }
  .total-value .text {
    text-align: center;
  }
}
.news {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .news {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .news {
    margin-top: 80px;
  }
}

.news__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 720px) {
  .news__wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }
}

.news-text {
  max-width: 480px;
}
@media (max-width: 720px) {
  .news-text p {
    white-space: normal;
  }
}
@media (max-width: 720px) {
  .news-text {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .news-title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
}
@media (max-width: 900px) {
  .news-title {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}

.news-button {
  transition: all 0.3s ease;
}
.news-button span {
  color: white;
}
.news-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.news-image {
  max-width: 500px !important;
}
@media (max-width: 720px) {
  .news-image {
    max-width: 100% !important;
  }
}

.wallet {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .wallet {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .wallet {
    margin-top: 80px;
  }
}

.wallet__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
}
@media (max-width: 767px) {
  .wallet__wrapper {
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 1120px) {
  .wallet__wrapper {
    gap: 0px;
  }
}

@media (max-width: 1200px) {
  .image__wrap {
    margin-right: 16px;
  }
}
@media (max-width: 767px) {
  .image__wrap {
    margin-right: 0px;
  }
}

.wallet-image {
  max-width: 560px !important;
}
@media (max-width: 1200px) {
  .wallet-image {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .wallet-image {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tabs__wrap {
    max-width: 100%;
    width: 100%;
  }
}

.tabs__wrap,
.image__wrap {
  flex: 1 1 50%;
}

.wallet-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 54px;
  line-height: 63px;
}
@media (max-width: 1000px) {
  .wallet-title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .wallet-title {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .wallet-title {
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    width: 100%;
  }
}

.wallet-block-text {
  margin-bottom: 48px;
  min-height: 52px;
}

.wallet-block-tabs-head {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  margin-bottom: 16px;
  max-width: 90%;
}
.wallet-block-tabs-head::-webkit-scrollbar {
  display: none;
}
@media (max-width: 767px) {
  .wallet-block-tabs-head {
    max-width: 100%;
  }
}

.wallet-block-tab {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (any-hover: hover) {
  .wallet-block-tab {
    /* ... */
  }
  .wallet-block-tab:hover {
    color: #fbfbfb;
    border-bottom-color: #2f8af5;
  }
}
.wallet-block-tab.tabs__caption_active {
  color: #fbfbfb;
  border-bottom-color: #2f8af5;
}

.wallet-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.news-block {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .news-block {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .news-block {
    margin-top: 80px;
  }
}

.news-block__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
  background: url("./../../img/news-block-background.webp") no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 24px;
  min-height: 400px;
}
@media (max-width: 1100px) {
  .news-block__wrapper {
    background-position: center;
    padding-left: 20px;
  }
}
@media (max-width: 680px) {
  .news-block__wrapper {
    height: 540px;
    padding: 0 16px;
    background: url("./../../img/news-block-background-mobile.webp") no-repeat;
    background-size: cover;
  }
}

@media (max-width: 1110px) {
  .news-block-left {
    max-width: 300px;
  }
}
@media (max-width: 680px) {
  .news-block-left {
    position: absolute;
    bottom: 32px;
    width: calc(100% - 32px);
    max-width: none;
  }
}

.news-block-title {
  font-weight: 900;
  font-size: 54px;
  line-height: 63px;
}
@media (max-width: 1110px) {
  .news-block-title {
    font-size: 36px;
  }
}
@media (max-width: 680px) {
  .news-block-title {
    font-weight: 600;
    font-size: 26px;
  }
}

.news-block-text {
  max-width: 415px;
  margin-bottom: 48px;
  margin-top: 16px;
}
@media (max-width: 680px) {
  .news-block-text {
    margin: 0;
  }
}

.news-block-button:hover {
  transition: all 0.3s ease;
}
.news-block-button:hover:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.news-block-button {
  background: radial-gradient(63.89% 180.95% at 15.94% 154.76%, #16979f 0%, rgba(22, 151, 159, 0) 100%);
}

.product-block {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .product-block {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .product-block {
    margin-top: 80px;
  }
}

.product-block__header {
  margin-bottom: 64px;
}

@media (max-width: 1000px) {
  .product-block__title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
}
@media (max-width: 900px) {
  .product-block__title {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  .product-block__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 650px) {
  .product-block__title {
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    width: 100%;
  }
}

.product-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px;
}
@media (max-width: 720px) {
  .product-cards-wrapper {
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 16px;
  }
}

.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  border: 1px solid rgb(31, 31, 31);
  padding: 32px 24px;
  position: relative;
  z-index: 1;
}

.card-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
  width: 100%;
  text-align: left;
}
@media (max-width: 1220px) {
  .card-title {
    font-size: 27px;
  }
}
@media (max-width: 1000px) {
  .card-title {
    font-size: 26px;
  }
}
@media (max-width: 650px) {
  .card-title {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 650px) {
  .cards-text {
    font-size: 15px;
  }
}

.card-button-wrap {
  width: 100%;
}

@media (max-width: 650px) {
  .cards-btn {
    width: 100%;
    justify-content: center;
  }
}

.cards-block {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .cards-block {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .cards-block {
    margin-top: 80px;
  }
}

.cards-header {
  margin-bottom: 64px;
}

@media (max-width: 1000px) {
  .cards-header-title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
}
@media (max-width: 900px) {
  .cards-header-title {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  .cards-header-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 650px) {
  .cards-header-title {
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    width: 100%;
  }
}

.social {
  margin-top: 245px;
}
@media (max-width: 1000px) {
  .social {
    margin-top: 160px;
  }
}
@media (max-width: 720px) {
  .social {
    margin-top: 80px;
  }
}

.social-network-title {
  text-align: center;
}
@media (max-width: 1000px) {
  .social-network-title {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
}
@media (max-width: 900px) {
  .social-network-title {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  .social-network-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 650px) {
  .social-network-title {
    font-size: 27px;
    line-height: 32px;
    width: 100%;
  }
}

.social__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 56px;
}
@media (max-width: 650px) {
  .social__wrapper {
    margin: 0;
    justify-content: space-between;
  }
}

.social-network-link {
  max-width: 120px;
  text-align: center;
}

.social-network-icon {
  max-width: 120px;
  max-height: 120px;
}
@media (max-width: 650px) {
  .social-network-icon {
    max-height: 80px;
  }
}

footer {
  padding: 250px 0px;
}

:root {
  --font: "Roboto", sans-serif;
  --bg-color: #06070a;
  --gray: rgba(255, 255, 255, 0.6);
}

body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  min-height: 100%;
  margin: 0;
  color: white;
  background-color: var(--bg-color);
}

p {
  font-family: var(--font);
}

h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  margin-bottom: 16px;
}
@media (max-width: 720px) {
  h2 {
    font-weight: 500;
  }
}

a {
  font-family: var(--font);
}

button {
  font-family: var(--font);
}

.container-header {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.link-btn {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 20px 16px 20px 20px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.link-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.cards-title {
  font-weight: 900;
  font-size: 54px;
  line-height: 63px;
}

.text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}