// Обнуляющий файл стилей  ##########################
@import "../style/reset";
@import "../style/header";
@import "../style/intro";
@import "../style/presentation";
@import "../style/networks";
@import "../style/news";
@import "../style/wallet";
@import "../style/news-block";
@import "../style/products-block";
@import "../style/footer";

// - Импорт шрифтов ##########################
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// Переменные для всего проекта
:root {
  --font: "Roboto", sans-serif;
  --bg-color: #06070a;
  --gray: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  min-height: 100%;
  margin: 0;
  color: white;
  background-color: var(--bg-color);
}
p {
  font-family: var(--font);
}

h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  margin-bottom: 16px;

  @media (max-width: 720px) {
    font-weight: 500;
  }
}
a {
  font-family: var(--font);
}
button {
  font-family: var(--font);
}

.container-header {
  width: 100%;
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.link-btn {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 20px 16px 20px 20px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
.link-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.cards-title {
  font-weight: 900;
  font-size: 54px;
  line-height: 63px;
}

.text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
