.footer {
  padding-top: 188px;
  padding-bottom: 50px;

  @media (max-width: 650px) {
    padding-top: 50px;
  }

  & a {
    transition: color 0.3s ease;
  }
  & a:hover {
    color: white;
  }

  & p {
    line-height: 1.2;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column-reverse;

    & .footer-links-block-rigth {
      margin-bottom: 50px;
    }
  }
}
.footer-links-block-left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  margin-right: 64px;

  @media (max-width: 1200px) {
    grid-gap: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 32px;
  }
  @media (max-width: 900px) {
    grid-gap: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 0;
  }
  @media (max-width: 680px) {
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 16px;
  }
  // @media (max-width: 520px) {
  //   grid-template-columns: 1fr 1fr;
  //   grid-gap: 32px 16px;
  // }
}
.footer-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.footer .join-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.footer-btn {
  width: 100%;
  justify-content: center;
}
