.header {
  padding: 10px 0;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  transition: all 0.2s ease;

  & .header__logo a img {
    transition: all 0.2s ease;
  }
}

.h-blur {
  background: rgba(7, 7, 16, 0.7);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  padding: 0 !important;

  & .header__logo a img {
    transform: scale(0.8);
    transition: all 0.2s ease;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 101;
}
.header__menu {
}
.submenu-position {
  position: relative;
  cursor: pointer;
  // height: 100%;
  display: flex;
  align-items: center;
}

.header__menu .menu {
  &__item {
    display: flex;
    gap: 30px;
    height: 100%;
  }
  &__item a:hover {
    color: white;
  }
  &__item a:hover {
    transition: all 0.3s ease;
  }
  //   arrow icon
  &__item li span {
    color: var(--gray);
    margin-left: 5px;
    font-size: 14px;
  }
  &__item li span {
    transition: all 0.3s ease;
  }
  &__item li:hover span {
    cursor: pointer;
    color: white;
  }

  &__link {
    color: var(--gray);
  }
}
.fa-chevron-right {
  margin-left: 5px;
  font-size: 12px !important;
}
.header__action {
}
.header__burger {
  display: none;
}

.btn-app {
  display: inline-flex;
  align-items: center;
  background: #2f8af5;
  font-size: 16px;
  border: none;
  color: white;
  width: fit-content;
  padding: 12px 16px;
  border-radius: 8px;
  line-height: 14px;
  transition: all 0.2s ease;
}
.btn-app:hover {
  background: #4399ff;
}

@media only screen and (min-width: 1000px) {
  .submenu-position:hover .submenu__wrapper {
    visibility: visible;
    opacity: 1;
  }
}

.submenu__wrapper {
  position: absolute;
  top: -5px;
  left: -180px;
  padding-top: 50px;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  overflow: scroll;
}

.submenu-navbar {
  box-sizing: border-box;
  width: 1136px;
  background: rgb(7 7 16 / 100%);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 24px;
  display: grid;
  grid-template-columns: 812px 240px;
  grid-column-gap: 32px;
  padding: 12px 24px 24px 12px;
  overflow: hidden;
  border-bottom: 1px solid rgba(128, 128, 128, 0.582);
}

@media (max-width: 1400px) {
  .submenu-navbar {
    width: 900px;
    display: grid;
    grid-template-columns: 576px 240px;
    grid-column-gap: 32px;
    padding: 12px 24px 24px 12px;
  }
}
@media (max-width: 1400px) {
  .navbar-left {
    display: grid;
    grid-template-columns: 288px 288px !important;
  }
}

.navbar-left {
  display: grid;
  grid-template-columns: 390px 390px;

  max-height: calc(100vh - 100px);
  overflow: auto;
}
.navbar-section {
}
.navbar-section:nth-child(2) {
  grid-row: 1 / span 2;
  grid-column: 2/4;
  border: none;
  padding: 0;
}
@media (max-width: 1200px) {
  .navbar-section:nth-child(2) {
    display: block;
  }
}
.navbar-title {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 12px 12px 20px 12px;
}
.navbar-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  padding: 12px;
  border-radius: 20px;
  text-decoration: none;
}
.navbar-item:hover {
  background: #000;
  transition: 0.2s;
}
.navbar-img-wrap {
  margin-right: 12px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.nav-item-title {
  display: block;
  margin-bottom: 4px;
  color: #fff;
  margin-left: 0px !important;
}
.nav-description {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}
.navbar-tag {
}
.navbar-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-row-gap: 4px;
}
.nav-news-image {
  width: 100%;
  border-radius: 12px;
}
.nav-news-image img {
  max-width: 100%;
}
.nav-news-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 4px 0;
  display: block;
  margin-left: 0px !important;
}
.navbar-button {
  transition: background-color 0.3s ease;
}
.navbar-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.more {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px 8px 20px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.mobile-submenu__wrapper {
  display: none;
}

// burger
@media (max-width: 1000px) {
  .submenu__wrapper {
    display: none;
  }
  .header__action {
    display: none;
  }
  .submenu-position {
    flex-direction: column;
    justify-content: center;
  }
  .header__burger {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 20px;
    z-index: 150;
  }

  .mobile-submenu__wrapper.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mobile-submenu__wrapper a {
    border-bottom: none;
    margin-top: 20px;

    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 90%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #a5046f;
    position: absolute;
    width: 70%;
    height: 2px;
    left: 0;
    top: 9px;
    border-radius: 10px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    display: none;
  }
  .header__menu.active {
    top: 0%;
    left: 14px;
    background: rgba(7, 7, 16, 0.7);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
  }

  .header__menu {
    position: absolute;
    margin-left: -15px;
    top: -2000%;
    bottom: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    transition: all 0.3s ease 0s;
    z-index: 100;
    padding: 100px 0px 20px 0px;
    border-top: 1px solid rgba(128, 128, 128, 0.296);
    will-change: transition;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .menu__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 120px;
  }

  .menu__link {
  }
  body.active {
    overflow: hidden;
  }
}
