.intro {
}

.intro__wrapper {
  margin-top: 165px;
  padding-bottom: 60px;
  height: 488px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}
.main-start-screen {
  max-width: 700px;
}
.main-start-screen .main-title {
  font-weight: 900;
  font-size: clamp(2.125rem, 0.922rem + 4.94vw, 4.5rem);
  line-height: clamp(2.625rem, 1.295rem + 5.45vw, 5.25rem);
  margin-bottom: 16px;
}
.main-start-screen .main-text {
  font-size: clamp(1.688rem, 1.023rem + 2.73vw, 3rem);
  line-height: clamp(2rem, 1.24rem + 3.12vw, 3.5rem);
  letter-spacing: 0.05em;
  margin-bottom: 48px;
}
.buttons {
  display: flex;
}
.buttons .btn-app {
  border-radius: 16px;
  height: 56px;
  padding: 0 25px;
}

.appstore-btn {
  border-radius: 16px;
  border: 1px solid #fff;
  display: inline-flex;
  transition: 0.2s;
  color: #fff;
  margin-left: 32px;
  height: 56px;
}

@media (max-width: 567px) {
  .intro {
    position: relative;
    background-color: black;
  }
  .intro__wrapper {
    align-items: flex-start;
    height: 660px;
    box-sizing: border-box;
    margin-top: 180px;
    margin-bottom: -100px;
    padding: 0;
  }
  .intro::before {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(6, 7, 10, 0), #06070a);
  }
  .main-start-screen {
    padding-top: 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 20px;
  }
  .buttons .btn-app {
    width: 100%;
    justify-content: center;
  }

  .appstore-btn {
    margin: 0px;
    justify-content: center;
  }
}

.appstore-btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
