.news {
  margin-top: 245px;

  @media (max-width: 1000px) {
    margin-top: 160px;
  }
  @media (max-width: 720px) {
    margin-top: 80px;
  }
}
.news__wrapper {
  display: flex;
  align-items: center;

  justify-content: space-between;

  @media (max-width: 720px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
  }
}
.news-text {
  max-width: 480px;

  & p {
    @media (max-width: 720px) {
      white-space: normal;
    }
  }
  @media (max-width: 720px) {
    max-width: 100%;
  }
}

.news-title {
  @media (max-width: 1000px) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
  @media (max-width: 900px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
}
.mobile-title {
}
.news-button {
  transition: all 0.3s ease;
  & span {
    color: white;
  }
  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
}

.news-image {
  max-width: 500px !important;
  @media (max-width: 720px) {
    max-width: 100% !important;
  }
}
