.product-block {
  margin-top: 245px;

  @media (max-width: 1000px) {
    margin-top: 160px;
  }
  @media (max-width: 720px) {
    margin-top: 80px;
  }
}

.product-block__wrapper {
}
.product-block__header {
  margin-bottom: 64px;
}
.product-block__title {
  @media (max-width: 1000px) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
  @media (max-width: 900px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
  @media (max-width: 720px) {
    margin-bottom: 32px;
  }
  @media (max-width: 650px) {
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    width: 100%;
  }
}

.product-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 16px;
  }
}
.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 32px;
  border: 1px solid rgb(31 31 31);
  padding: 32px 24px;
  position: relative;
  z-index: 1;
}
.card-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1;
  width: 100%;
  text-align: left;

  @media (max-width: 1220px) {
    font-size: 27px;
  }
  @media (max-width: 1000px) {
    font-size: 26px;
  }
  @media (max-width: 650px) {
    font-size: 18px;
    line-height: 21px;
  }
}

.cards-text {
  @media (max-width: 650px) {
    font-size: 15px;
  }
}
.card-image {
}
.card-button-wrap {
  width: 100%;
}
.cards-btn {
  @media (max-width: 650px) {
    width: 100%;
    justify-content: center;
  }
}
