.social {
  margin-top: 245px;

  @media (max-width: 1000px) {
    margin-top: 160px;
  }
  @media (max-width: 720px) {
    margin-top: 80px;
  }
}

.social-network-title {
  text-align: center;
  @media (max-width: 1000px) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
  @media (max-width: 900px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
  @media (max-width: 720px) {
    margin-bottom: 32px;
  }
  @media (max-width: 650px) {
    font-size: 27px;
    line-height: 32px;
    width: 100%;
  }
}
.social__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 56px;

  @media (max-width: 650px) {
    margin: 0;
    justify-content: space-between;
  }
}
.social-network-link {
  max-width: 120px;
  text-align: center;
}
.social-network-icon {
  max-width: 120px;
  max-height: 120px;

  @media (max-width: 650px) {
    max-height: 80px;
  }
}
.text {
}
.social-network-name {
}
