.wallet {
  margin-top: 245px;

  @media (max-width: 1000px) {
    margin-top: 160px;
  }
  @media (max-width: 720px) {
    margin-top: 80px;
  }
}
.container {
}
.wallet__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}
.image__wrap {
  @media (max-width: 1200px) {
    margin-right: 16px;
  }
  @media (max-width: 767px) {
    margin-right: 0px;
  }
}
.wallet-image {
  max-width: 560px !important;
  margin-right: 140px;

  @media (max-width: 1200px) {
    margin-right: 0;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
}
.tabs__wrap {
  @media (max-width: 767px) {
    max-width: 100%;
    width: 100%;
  }
}

.wallet-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 54px;
  line-height: 63px;

  @media (max-width: 1000px) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 16px;
  }
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 40px;
    max-width: 100%;
  }
  @media (max-width: 650px) {
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    width: 100%;
  }
}

.wallet-block-text {
  margin-bottom: 48px;
  min-height: 52px;
}
.wallet-block-tabs-head {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-bottom: 16px;
  max-width: 90%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wallet-block-tab {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;

  @media (any-hover: hover) {
    /* ... */
    &:hover {
      color: #fbfbfb;
      border-bottom-color: #2f8af5;
    }
  }

  &.tabs__caption_active {
    color: #fbfbfb;
    border-bottom-color: #2f8af5;
  }
}

.wallet-btn {
  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
  }
}

.tabs__body {
}
.wallet-block-tabs-body {
}
